*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 2px;
  color: $clr-text;
  background-color: $clr-secondary;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: $clr-text;
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}
ul[class] {
  list-style: none;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1536px;
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}
.headline {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-size: rem(30);
  color: $clr-accent;
  text-transform: uppercase;
  letter-spacing: 3px;
}
