@import 'vars';
@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'main.scss';
//  Header
.header {
  background-color: $clr-accent;
  background-image: url(../img/header-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: $clr-primary;
  a {
    color: $clr-primary;
  }
  & .container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  &__logo {
    width: 125px;
    height: 32px;
    margin-top: 7.25rem;
    a {
      font-size: rem(30);
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  &__wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content {
    text-align: right;
  }
  &__title {
    font-size: 3rem;
    color: $clr-primary;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 400;
  }
}
// About-us
.about-us {
  padding-top: 3.25em;
  padding-bottom: 3.5em;
  text-align: center;
  &__image {
    margin: 0 auto 1em;
  }
  &__slogan {
    margin-bottom: 1em;
    font-size: rem(18);
  }
  &__desc {
    font-size: rem(14);
    text-align: left;
  }
}
// Stats
.stats {
  padding-top: 5.75em;
  padding-bottom: 6.25em;
  background-image: url(../img/stats-bg.png);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: $clr-primary;
  text-align: center;
  &__desc {
    margin-bottom: 4.25em;
    font-size: rem(18);
  }
  &__list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  &__item {
    flex-basis: 33%;
    padding-left: 1em;
    padding-right: 1em;
  }
  &__num,
  &__text {
    display: block;
  }
  &__num {
    font-size: 4.5rem;
    margin-bottom: 0.15em;
  }
  &__text {
    max-width: 65%;
    margin: 0 auto;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}
// Showcase
.showcase {
  padding-top: 3em;
  padding-bottom: 4.5em;
  text-align: center;
  &__slogan {
    margin-bottom: 4.25em;
    font-size: rem(18);
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 4.75em;
    grid-row-gap: 1.75em;
  }
  &-card {
    display: grid;
    justify-items: center;
    &__title {
      margin: 0;
      font-size: 1.5rem;
      text-transform: uppercase;
    }
    &__price {
      margin-bottom: 0.25em;
      font-size: rem(30);
    }
    &__link {
      font-size: rem(18);
      text-decoration: underline;
    }
  }
}
// Team
.team {
  padding-top: 3em;
  padding-bottom: 3.25em;
  background-color: $clr-primary;
  color: $clr-accent;
  text-align: center;
  &__desc {
    margin-bottom: 3.25em;
    font-size: rem(18);
  }
  &__list {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  &__item {
    flex-basis: 33%;
    padding-left: 1em;
    padding-right: 1em;
  }
  &__image {
    @include size(218px);
    margin: 0 auto 2em;
  }
  &__name,
  &__position {
    display: block;
    text-transform: uppercase;
  }
  &__name {
    margin-bottom: 0.5em;
    font-size: rem(30);
    font-weight: 800;
  }
  &__position {
    max-width: 65%;
    margin: 0 auto;
    font-size: rem(18);
  }
}
// Network
.network {
  padding-top: 4em;
  padding-bottom: 3.25em;
  color: $clr-accent;
  text-align: center;
  &__slogan {
    margin-bottom: 3.25em;
    font-size: rem(18);
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -$gutter;
    margin-right: -$gutter;
    margin-bottom: 4em;
  }
  &__image {
    @include size(385px);
    object-fit: cover;
  }
  &__text {
    font-size: 1.5rem;
    font-weight: 800;
    color: $clr-text;
    text-transform: uppercase;
    a {
      color: $clr-accent;
      text-decoration: underline;
    }
  }
}